table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
}

th:hover {
    cursor: pointer;
}

table.expanded {
    box-shadow: 0 0 5px #888;
}

table:not(.expanded) td {
    /* Hide empty cells when not expanded */
    display: none;
}

.table-fixed {
    --num-columns: 4; 
    table-layout: fixed;
    width: 100%;
}

.table-fixed th:first-child, td:first-child{
    width: 40%;
    /* Adjust the width as needed */
}

.table-fixed colgroup col:not(:first-child) {
    width: calc(60% / (var(--num-columns) - 1));
    /* Adjust the number of columns accordingly */
}

.table-fixed th,
.table-fixed td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}